
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// my variables
$font-stack-primary:   'Merriweather Sans', sans-serif;
$font-stack-secondary: 'Merriweather', serif;



*,
*::before,
*::after {
  box-sizing: border-box;
}



img {
  max-width: 100%;
}



@-webkit-keyframes fadeOut {
0% {
opacity: 1;
}

100% {
opacity: 0;
}
}

@-moz-keyframes fadeOut {
0% {
opacity: 1;
}

100% {
opacity: 0;
}
}

@-o-keyframes fadeOut {
0% {
opacity: 1;
}

100% {
opacity: 0;
}
}

@keyframes fadeOut {
0% {
opacity: 1;
}

100% {
opacity: 0;
}
}

.animated.fadeOut {
-webkit-animation-name: fadeOut;
-moz-animation-name: fadeOut;
-o-animation-name: fadeOut;
animation-name: fadeOut;
}


.delay-three {
-webkit-animation-delay: 0.60s;
-moz-animation-delay: 0.60s;
-o-animation-delay: 0.60s;
animation-delay: 0.60s;
}
.animated {
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-ms-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
-ms-animation-duration: 1s;
-o-animation-duration: 1s;
animation-duration: 1s;
}

.fadeIn {
-webkit-animation-name: fadeIn;
-moz-animation-name: fadeIn;
-o-animation-name: fadeIn;
animation-name: fadeIn;
}


@-webkit-keyframes fadeIn {
0% {
opacity: 0;
}

100% {
opacity: 1;
}
}

@-moz-keyframes fadeIn {
0% {
opacity: 0;
}

100% {
opacity: 1;
}
}

@-o-keyframes fadeIn {
0% {
opacity: 0;
}

100% {
opacity: 1;
}
}

@keyframes fadeIn {
0% {
opacity: 0;
}

100% {
opacity: 1;
}
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus,  {
  box-shadow: 0 0 5px  #57cbbb;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid  #57cbbb;
}


// ##############################################
//###############################################
// Login Screen Styles
// #############################################
// #############################################
h1, h2, h3, h4, h5, h6, div,  {
  font-family: $font-stack-primary;
  color: rgba(11, 28, 84, 0.88);
}


body {
  font-family: $font-stack-primary;
  background-color: #273669;
  background-size: cover;
  color: rgba (11, 28, 84, 0.88);
  // &::before{
  //   position: absolute;
  //   content: "";
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right:0;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    padding: 0px;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: rgba (11, 28, 84, 0.88);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */


@media(min-width:768px) {


    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.user-login-container {
	margin: 80px auto;
  width: 380px;
  height: 437px;
  padding: 40px 60px;
	border-radius: 8px;
	background-color: #eceef5;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.11);
}
.login-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.login-title-container{
    width: 231px;
    height: 50px;

}
.login-title {
  font-family: $font-stack-primary;
  text-align: center;
  font-size: 40px;
  color: #222e5f;
}

.login-sub-title-container {
  width: 161px;
  height: 14px;
}

.login-sub-title {
  font-family: $font-stack-secondary;
  text-align: center;
  font-size: 11px;
  letter-spacing: 2.6px;
  color: #222e5f;
}
.login-label {
    font-family: $font-stack-primary;
    width: 198.8px;
    height: 18px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2.6px;
    color: #8d909e;
}
.username-input, .password-input {

  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 298px;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e1e4eb;
    margin-bottom: 5px;

}

.logIn-button {
    font-family: $font-stack-primary;
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;
    color: white;
    width: 170px;
    height: 40px;
    border-radius: 100px;
    background-color: #57cbbb;
    border: none;
}

// ##############################################
//###############################################
// SideBar  Styles
// #############################################
// #############################################

// #sidebar {
//   padding: 0px;
//   box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.11);
//   height: 100%;
// }

// .sidebar {
// 	height: 100%;
// 	background-color: rgba(10, 27, 84, 0.88);

// }

.sidebar-header {
  width: 100%;
  margin-top: 22px;
  margin-left: 5px;
  img {
    display: inline-block;
  }

}
.sidebar-image {
  width: 30%;

}
.sidebar-heading {
  margin-left: 5px;
  display: inline-block;
  vertical-align: bottom;
  width: 70%;
}

.sidebar-title {
  width: 100%;

  position: relative;
  display: inline-block;
  top: -5px;
  color: #ffffff;

  font-size: 30px;
  font-family: $font-stack-primary;
}

.sidebar-subtitle {
  width: 100%;
  position: relative;
  top: -5px;
  font-family: $font-stack-secondary;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 2px;
  color: #ffffff;
}

.sidebar-nav {
  font-family: $font-stack-primary;
  margin-top: 25px;



}



.nav-pills > li > a {
  &:hover {
    background-color: #57cbbb;
  }

}




// ##############################################
//###############################################
// Header  Styles
// #############################################
// #############################################

.header-container {
  width: 100%;
  height: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.11);
}
.user-header-info {
    font-family: $font-stack-primary;
    position: relative;
    top: 3px;
    right: 50px;
    float: right;
    img {
      height: 15px;
    }
    font-size: 10px;

    .user-header-welcome{
      font-family: $font-stack-primary;
      color: #8d909e;
      margin-left: 3px;
      font-size: 8px;

    }

    .fullscreen-icon {
      margin-left: 15px;
      color: #8d909e;
      img {
        height: 10px;

      }
    }
}
// ##############################################
//###############################################
// Main Body Home
// #############################################
// #############################################

#body-container {
  height: 100%;
}

#main-container {
  padding: 0px;
  height: 1024px;
}

.main-dashboard-container {
  margin-top: 50px;
  height: 500px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 7px 0 #a5abb8;

}

.dashboard-welcome-container {
  margin-top: 38px;
  border-bottom: 1px solid #e1e4eb;
  padding-bottom: 25px;


  .welcome-user {
    font-size: 18px;
    color: rgba(11, 28, 84, 0.88);
    font-family: $font-stack-primary;

  }
  .welcome-date {
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 2.6px;
    color: #8d909e;

  }
}

//dashboardEvents styles

.dashboard-events-container {
  margin-top: 10px;
  border-bottom: 1px solid #e1e4eb;

  .event-section {
    padding-bottom: 10px;
    p, span {
      text-align: center;
    }
  }

}
.event-number {
  font-family: $font-stack-primary;
  color: rgba(11, 28, 84, 0.88);
  font-size: 25px;

}

.event-title {
  font-family: $font-stack-primary;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2.6px;
  color: rgba(11, 28, 84, 0.88);

}

.event-subtitle {
  font-family: $font-stack-secondary;
  color: #8d909e;
  text-transform: uppercase;
  font-size: 10px;



}
.client-name {
  font-family: $font-stack-secondary;
  font-size: 12px;
  color: #4caaa0;
  text-align: center;
}

.align {
  position: relative;
  top: 10px;
}

// dashboard caseload

.dashboard-caseload-container {
  margin-top: 50px;
}

.caseload-heading {
  font-family: $font-stack-primary;
  font-size: 10px;
  letter-spacing: 2.6px;
  color: #8d909e;
  text-transform: uppercase;
  position: relative;
  left: 20px;
}
.caseload-listing {
  margin-top: 15px;
}

.caseload-name {
  margin-top: 10px;
}


// ##############################################
//###############################################
// Client Profile Styles
// #############################################
// #############################################

.client-profile-container {
  margin-top: 50px;
  height: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 7px 0 #a5abb8;

}


.client-info-container {
  width: 100%;

  margin-left: 22px;
  img {

    display: inline-block;

  }
  margin-top: 30px;
  border-bottom: 1px solid #e1e4eb;
  padding-bottom: 25px;

}

.client-info {
  margin-top: 20px;
}
.client-name-detail-page {
  color: #4caaa0;
}
.client-image-container {
  padding: 0px;
}
.client-header {
  p {
    font-family: "Merriweather", serif;
    color: #8d909e;
    text-transform: uppercase;
    font-size: 10px;
  }
}

.client-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.team-info {
  height: 150px;
  box-shadow: none;

  border-left: 1px solid #8d909e;



}
.therapist-team-list {
  margin-left: 10px;
  padding-left: 5px;
  li {
    font-size: 10px;
    list-style: none;
    font-family: $font-stack-secondary;
     color: #8d909e;

  }
}

.client-data-container {
  margin-top: 5px;

}
.note-container {
  min-height: 200px;
  //overflow: scroll;

}

.program-form {
  height: 40px;
  box-shadow: none;
  background-color: rgba(249, 249, 249, 1);
  border: none;
  border-radius: 0;

}
.remove-program-icon {
  float: right;
}

.program-form-container {
  margin-top: 15px;
  height: 300px;
  //overflow: scroll;

  // .add-target-btn  {
  //   border-radius: 100%;
  //   float: right;
  //   height: 20px;
  //   color: #57cbbb;
  //   background-color: #57cbbb;
  //   margin: 10px;
  // }

}

.add-target-btn  {
    border-radius: 100%;
    float: right;
    height: 35px;
    width: 35px;
    border: none;

    background-color: #57cbbb;
    margin: 10px;
    color: white;
    position: relative;
    top: -3px;
  }

.graph-start-container {
  height: 700px;
}

.program-config-container {
  margin-top: 15px;
  //height: 300px;
  //overflow: scroll;
  border-bottom: solid 1px #e1e4eb;

}

.program-name-header, .site-header-link {
  color: black;
}

.add-program-btn {
  float: right;
  font-family: $font-stack-primary;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;
    color: white;
    width: 120px;
    height: 35px;
    border-radius: 100px;
    background-color: #57cbbb;
    border: none;

}
.program-edit {
  float: right;
  color: rgba( 11, 28, 84, 0.88);
}
.targets-item {
  list-style: none;

}


input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba 11 28 84, 0.88;
  border: 1px solid rgba 11 28 84, 0.88;
}

.secondary-btn {
  width: 140px;
  height: 35px;
  border-radius: 100px;
  border: solid 2px #57cbbb;


}

.program-item {
  height: 40px;
  box-shadow: none;
  background-color: rgba(249, 249, 249, 1);
  border: none;
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 1px;

}
.program-config-item-container {
  margin-bottom: 20px;
}

.master-criteria-text {
  font-size: 13px;
  color: #8d909e;
  font-style: italic;

  .criteria-text {
    color: #4caaa0;
    font-style: italic;
  }
}

.target-item-name {
  font-size: 18px;
    //color: rgba(11, 28, 84, 0.88);
    //font-family: "Merriweather Sans", sans-serif;
}

.target-item-container {
  margin-top: 10px;
  margin-bottom: 10px;
}





// notes styles

.client-notes-container {
  margin-top: 15px;
  height: 500px;

  //overflow: scroll;

}

.note-container {
  margin-top: 10px;
   margin-bottom: 5px;

}

//session styles

 .yes-btn {
  border-radius: 100%;
  float: left;
  color: white;
  background-color: green;
 }

 .no-btn {
  border-radius: 100%;
  color: white;
  float: right;
  background-color: red;
 }

.save-session-btn {
  border-radius: 100px;
  border: solid 2px #57cbbb;
  margin-bottom: 20px;
}

 .session-start-container {
    margin: 20px;
    margin-bottom: 60px;
  }

.session-start-btn {

   font-family: "Merriweather Sans", sans-serif;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: white;
    width: 120px;
    height: 35px;
    border-radius: 100px;
    background-color: #57cbbb;
    border: none;
  }
.client-session-container {
  margin-top: 15px;
  //height: 600px;

  //overflow: scroll;
}

.session-date {
  float: right;
}
.session-input {
  float: right;
}

.target-session-container {
  height: 200px;
}
.save-session-btn {
  margin-left: 15px;
}

.modal-edit-container {
  height: 300px;
}

// ##############################################
//###############################################
// Chart Styles
// #############################################
// #############################################

.behavior-line-chart {
  margin-top: 20px;
}

//site title styles

.site-title {
    margin-bottom: 10px;

    .title-site-heading {
        float: left;
        padding-right: 10px;
    }

}
.site-header-link {
    float: right;
    padding-left: 10px;
}
.site-title-border {
    content: '';
    width: auto;
    overflow: hidden;
    border-bottom: 1px solid black;
     padding-top: 14px;
}



///splash screen styles

.splash-screen{
  transition: opacity 0.15s linear;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  .body-container {
    background: rgba(212, 212, 212, .8);
  }

}
.splash-container{
  position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
  border-radius: 3%;
  width: 100%;



  padding: 10px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.custom-modal {
  width: 60%;
}
